# Secrets
.env

# Data lake - large and regenerable, don't commit
data/raw/**
data/processed/**
data/static_gtfs/**
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/static_gtfs/.gitkeep

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Airflow
orchestration/dags/__pycache__/
airflow.db
airflow.cfg
logs/

# Streamlit
.streamlit/

# OS
.DS_Store
